@import "../../style.scss";

.posts{
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include tablet{
        margin: -8px -18px 0px -10px;
        gap: 25px;
        padding: 10px 18px 10px 10px;
    }
}