

.login {
    margin: -22px -8px;
    padding: 0px 10px;
    height: 102vh;
    background-color: rgb(193, 190, 255);
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        width: 65%;
        display: flex;
        background-color: #fff;
        border-radius: 10px;
        min-height: 500px;
        object-fit: cover;
        overflow: hidden;

        .left {
            flex: 1;
            background: linear-gradient(rgba(41, 30, 63, 0.4), rgba(53, 32, 100, 0.4)), url("../../images/loginbackground.avif") center;
            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: #fff;

            h1 {
                font-size: 100px;
                margin-top: 0px;
                margin-bottom: 4px;
                line-height: 100px;
            }

            p {
                margin: 0px;
            }

            span {
                font-size: 17px;
            }

            button {
                padding: 10px;
                border: none;
                color:rgb(85, 16, 117);
                width: 50%;
                font-weight: bold;
                cursor: pointer;
            }
        }

        .right {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 50px;
            gap: 20px;
            justify-content: center;

            h1 {
                color: #555;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 30px;

                input {
                    padding: 20px 10px;
                    border: none;
                    border-bottom: 1px solid lightgray;
                }

                button {
                    width: 50%;
                    padding: 10px;
                    background-color: #5651b4;
                    color: #fff;
                    border: none;
                    font-weight: bold;
                    cursor: pointer;

                }
            }
            p{
                color: red;
                font-size: 12px;
            }
            span{
                color: green;
                font-size: 12px;
            }
        }
    }
}